{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container ">
    <div class="row">
        <div class="col-md-12 text-center"  style="background-image: url('{{ url_for('static', filename='/images/trial1.jpg') }}')">
            <br>
            <h1 style="font-size: 45px;font-weight: normal;font-family: Oregano;color: #c17757;" data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">WELCOME TO THE_ARTIC</h1>
            <hr data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".2" style="width: 550px;top: 551.78px;border: 1px solid #c17757;">
            <p style="font-size: 35px;font-weight: 400;color: #080808;" data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">I saw the angel in the marble and carved until I set him free. <br> - Michelangelo</p>
            
            <form action="" method="POST">
                <h3 align='center' style="font-size: 45px; font-weight: normal;font-family: Oregano;color: #e7672f">Login</h3>
                <div class="form-group">
                    <label style="font-size: 30px; color: #08ece1;" for="email" >Email Address</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" >
                </div>
                
                <div class="form-group">
                    <label style="font-size: 30px; color: #f70893;" for="password" >Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" >
                </div>
                
                <br>
                <div align="center">
                    <button class="btn btn-main" type="submit">Login</button>
                  </div>
                  <br>
            </form>
        </div>
    </div>
</div>
{% endblock %}
