<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/museum.css') }}">
		<link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">
		<title>Museum Art</title>
	</head>
	<body>
		<h1 style="text-align: center; color: white; margin-top:150px">Museum Art</h1>

		<div class="timeLine">
			<div class="row">
				<div class="lineHeader hidden-sm hidden-xs"></div>
				<div class="lineFooter hidden-sm hidden-xs"></div>

					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item" >
						<div class="caption">
							<div class="star center-block">
								<span class="h3">27</span>
								<span>Jan</span>
								<span>1503</span>
							</div>
							<div class="image">
								<img src="{{ url_for('static', filename='/images/monalisa.jpg') }}" style="width: 405; height: 601;">
								<div class="title">
									<h2>Louvre Museum  <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
								</div>
							</div>
							<div class="textContent">
								<h3>Mona Lisa</h3>
								<p class="lead">Leornado da Vinci painted Mona Lisa between 1503 and 1517.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
						<div class="caption">
							<div class="star center-block">
								<span class="h3">15</span>
								<span>Sep</span>
								<span>1889</span>
							</div>
							<div class="image">
								<img src="{{ url_for('static', filename='/images/vincent.jpg') }}" style="width: 405; height: 601;">
								<div class="title">
									<h2> Musée d'Orsay Museum<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
								</div>
							</div>
							<div class="textContent">
								<h3>Vincent Van Gogh </h3>
								<p class="lead">Dutch Post-Impressionist painter Vincent van Gogh painted a self-portrait in oil on canvas in September 1889. The work,
									 which may have been Van Gogh's last self-portrait, was painted shortly before he left Saint-Rémy-de-Provence in southern France. </p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
						<div class="caption">
							<div class="star center-block">
								<span class="h3">18</span>
								<span>Aug</span>
								<span>1901</span>
							</div>
							<div class="image">
								<img src="{{ url_for('static', filename='/images/railway1.jpg') }}" style="width: 405; height: 601;">
								<div class="title">
									<h2> Nairobi Railway Museum <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
								</div>
							</div>
							<div class="textContent">
								<h3>1st Train in Kenya</h3>
								<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
									Ipsum eius cum dolorum, repudiandae voluptatibus autem ipsam fugiat sapiente facilis praesentium .</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
						<div class="caption">
							<div class="star center-block">
								<span class="h3">01</span>
								<span>May</span>
								<span>1900</span>
							</div>
							<div class="image">
								<img src="{{ url_for('static', filename='/images/woman.jpg') }}" style="width: 505; height: 401;">
								<div class="title">
									<h2>The Museo Nacional de Bellas Artes<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
								</div>
							</div>
							<div class="textContent">
								<h3>Woman with a white dress</h3>
								<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
									Ipsum eius cum dolorum, repudiandae voluptatibus autem ipsam fugiat sapiente facilis praesentium .</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
						<div class="caption">
							<div class="star center-block">
								<span class="h3">14</span>
								<span>Apr</span>
								<span>2016</span>
							</div>
							<div class="image">
								<img src="{{ url_for('static', filename='/images/drawing.jpg') }}" style="width: 405; height: 601;">
								<div class="title">
									<h2>Street Art <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
								</div>
							</div>
							<div class="textContent">
								<h3>Street Art</h3>
								<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
									Ipsum eius cum dolorum, repudiandae voluptatibus autem ipsam fugiat sapiente facilis praesentium .</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
						<div class="caption">
							<div class="star center-block">
								<span class="h3">01</span>
								<span>Jun</span>
								<span>2016</span>
							</div>
							<div class="image">
								<img src="{{ url_for('static', filename='/images/railway.jpg') }}" style="width: 405; height: 601;">
								<div class="title">
									<h2> Nairobi Railway Museum  <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
								</div>
							</div>
							<div class="textContent">
								<h3>African Heritage</h3>
								<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
									Ipsum eius cum dolorum, repudiandae voluptatibus autem ipsam fugiat sapiente facilis praesentium .</p>
							</div>
						</div>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 item">
						<div class="caption">
							<div class="star center-block">
								<span class="h3">01</span>
								<span>Jun</span>
								<span>2016</span>
							</div>
							<div class="image">
								<img src="{{ url_for('static', filename='/images/bike.jpg') }}" style="width: 405; height: 601;">
								<div class="title">
									<h2> Shira Galleria<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></h2>
								</div>
							</div>
							<div class="textContent">
								<h3>Shira Galleria</h3>
								<p class="lead">Dreams are always growing up by hope. This is the last thing that i can not get rid of it just because i believe in myself and my abilities.</p>
							</div>
						</div>
					</div>

			</div>
		</div>


		<script src="{{ url_for('static', filename='/js/timeLine.js') }}"></script>
		<script src="{{ url_for('static', filename='/js/museum.js') }}"></script>
		<script type="text/javascript">

			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-36251023-1']);
			_gaq.push(['_setDomainName', 'jqueryscript.net']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

		</script>
	</body>
</html>
